
.icon-email:before { content: '\e800'; } /* '' */
.icon-call:before { content: '\e801'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-instagram-2:before { content: '\f16d'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */